.form-plan {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 9px 9px 9px 0;

  background-color: $form-bg-color;
  border-radius: $border-radius-big;

  transition: box-shadow $transition-params;

  &:focus-within {
    box-shadow: 0 0 0 2px $primary-hover-color;
  }

  @include media-desktop {
    padding: 18px 18px 18px 0;
  }
}

.form-plan__text {
  flex-grow: 1;
  align-self: stretch;
  padding: 0 8px 0 16px;

  font-style: italic;
  font-size: 14px;
  line-height: 1.21;

  color: $primary-color;
  background-color: transparent;
  border: none;
  border-radius: inherit;

  &:focus {
    outline: none;
  }

  &::placeholder {
    content: "";
    color: $accent-color;
  }

  @include media-desktop {
    padding: 0 41px;
    font-size: 24px;
  }
}

.form-plan__button {
  padding-left: 8px;
  padding-right: 8px;

  @include media-desktop {
    padding-left: 33px;
    padding-right: 33px;
  }
}
