@import "/node_modules/modern-normalize/modern-normalize.css";

html {
  font-size: 16px;
}

body {
  @include font($family: $primary-font, $size: 1rem);
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  padding: 0.1em 0.2em;

  font-weight: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  border-radius: 0.2em;

  transition: background-color $transition-params;

  &::placeholder {
    color: currentColor;
    opacity: 0;
    transition: opacity $transition-params;
  }

  &:focus {
    background-color: $transparent-bg-color;
    outline: none;

    &::placeholder {
      opacity: 0.5;
    }
  }
}
