.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  opacity: 0.5;
  transition: background-color $transition-params, opacity $transition-params;

  &:hover,
  &:focus {
    background-color: $transparent-bg-color;
    opacity: 1;
  }
}

.button__svg {
  width: 75%;
  height: 75%;
  fill: currentColor;
}
