.quote {
  @include font($size: 1.5rem);
  opacity: 0.75;
}

.quote__button {
  opacity: 0;
  margin-bottom: 0.5em;

  .quote:hover & {
    opacity: 0.5;
  }

  .quote:hover &:hover {
    opacity: 1;
  }
}

.quote__wrap {
  margin: 0;
}

.quote__text {
  margin: 0;
  margin-bottom: 0.5em;
}

.quote__author {
  font-size: 0.75em;

  &::before,
  &::after {
    content: " — ";
  }
}
