$primary-font: "Fira Sans", sans-serif;
$secondary-font: "Fira Sans Condensed", sans-serif;
$mono-font: "Fira Code", monospace;

$transparent-bg-color: rgb(255, 255, 255, 0.25);

$transition-params: 0.5s;
