.main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.widget {
  position: absolute;
  padding: 1em;

  &--top-left {
    top: 0;
    left: 0;
    text-align: left;
  }

  &--top-right {
    top: 0;
    right: 0;
    text-align: right;
  }

  &--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
    text-align: left;
  }

  &--bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 50%;
    text-align: center;
  }

  &--bottom-right {
    bottom: 0;
    right: 0;
    text-align: right;
  }
}
