.widgets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
}

.widgets__row {
  display: flex;
  justify-content: space-between;
}

.widgets__item {
  &--center {
    margin: 0 auto;
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}
