$primary-font: "Aleo", serif;
$secondary-font: "Red Hat Text", sans-serif;
$logo-font: "Magra", sans-serif;

$primary-color: #0d606f;
$primary-hover-color: hsl(189, 78%, 30%);
$accent-color: #f2785c;
$white-color: #ffffff;
$black-color: #000000;
$white-transparent-color: rgba(255, 255, 255, 0.7);
$primary-light-color: #f8f8f8;

$header-bg-color: rgba(242, 120, 92, 0.7);
$form-bg-color: rgba(255, 255, 255, 0.7);

$header-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
  0px 2px 3px rgba(13, 96, 111, 0.16);
$button-big-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
  0px 2px 3px rgba(13, 96, 111, 0.16);
$stories-shadow: 0px 4px 4px $primary-color;

$border-radius: 10px;
$border-radius-big: 16px;

$transition-params: 200ms ease-out;

$container-padding: 15px;
$container-width: 1200px + $container-padding * 2;
$min-width: 320px;
$max-width: 1440px;

$phone-breakpoint: 390px;
$desktop-breakpoint: 768px;
