body {
  &.no-scroll {
    overflow-y: hidden;
  }
}

.wrapper {
  position: relative;
  max-width: $phone-breakpoint;
  min-width: $min-width;
  margin-right: auto;
  margin-left: auto;

  overflow: hidden;

  @include media-desktop {
    max-width: $max-width;
  }
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-padding;
  padding-left: $container-padding;

  @include media-desktop {
    max-width: $container-width;
  }
}
