.preview {
  padding-top: 142px;
  padding-bottom: 60px;

  background-image: url("../img/bg-top-s.jpg");
  background-position: center top;
  background-size: cover;

  @include media-desktop {
    padding-top: 122px;
    padding-bottom: 254px;

    background-image: url("../img/bg-top.jpg");
  }
}

.preview__container {
  max-width: 100%;

  @include media-desktop {
    max-width: 892px;
  }
}

.preview__title {
  display: none;

  @include media-desktop {
    display: block;
    margin-bottom: 32px;

    font-weight: 700;
    font-size: 80px;
    color: $white-color;
  }
}

.preview__text {
  display: none;

  @include media-desktop {
    display: block;
    margin-bottom: 46px;

    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    color: $white-color;
  }
}
