.stories {
  padding-top: 20px;

  @include media-desktop {
    padding-top: 80px;
  }
}

.stories__title {
  margin-bottom: 10px;

  @include media-desktop {
    margin-bottom: 40px;
  }
}

.stories__wrapper {
  padding-top: 10px;
  padding-bottom: 78px;

  background-image: linear-gradient(
      to top,
      transparent 65px,
      $white-transparent-color 65px
    ),
    url("../img/bg-bottom-s.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include media-desktop {
    padding-top: 40px;
    padding-bottom: 102px;

    background-image: linear-gradient(
        to top,
        transparent 60px,
        $white-transparent-color 60px
      ),
      url("../img/bg-bottom.jpg");
  }
}

.stories__list {
  margin-bottom: 10px;

  @include media-desktop {
    margin-bottom: 40px;
  }
}

.stories__item {
  display: flex;
  height: 130px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @include media-desktop {
    height: 250px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.stories__pic {
  flex-shrink: 0;
  flex-basis: 155px;
  margin-right: 10px;

  border-radius: $border-radius-big;
  box-shadow: $stories-shadow;
  overflow: hidden;

  @include media-desktop {
    flex-basis: 400px;
    margin-right: 40px;
  }
}

.stories__img {
  height: 100%;
  object-fit: cover;
}

.stories__desc {
  padding-top: 5px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include media-desktop {
    padding-top: 0;
  }
}

.stories__subtitle {
  display: inline;

  font-weight: 700;
  font-size: 11px;
  line-height: 1.18;

  @include media-desktop {
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
  }
}

.stories__text {
  $line-height: 1.22em;
  $line-count: 8;

  max-height: $line-height * $line-count;
  line-height: $line-height;

  margin-top: 10px;

  text-align: left;
  white-space: normal;
  overflow: hidden;

  @include media-desktop {
    $line-height: 1.2em;
    $line-count: 6;

    max-height: $line-height * $line-count;
    line-height: $line-height;

    margin-top: 24px;
  }
}

.stories__link {
  font-weight: 700;
  text-decoration: underline;
  text-transform: capitalize;
  transition: color $transition-params;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.stories__button {
  margin: 0 auto;
}
