/* === Global styles start === */
:root {
  --primary-font: "Aleo", serif;
  --secondary-font: "Red Hat Text", sans-serif;
  --logo-font: "Magra", sans-serif;

  --primary-color: #0d606f;
  --primary-hover-color: hsl(189, 78%, 30%);
  --accent-color: #f2785c;
  --white-color: #ffffff;
  --black-color: #000000;
  --white-transparent-color: rgba(255, 255, 255, 0.7);
  --primary-light-color: #f8f8f8;

  --header-bg-color: rgba(242, 120, 92, 0.7);
  --form-bg-color: rgba(255, 255, 255, 0.7);

  --header-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  --button-big-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  --stories-shadow: 0px 4px 4px var(--primary-color);

  --border-radius: 10px;
  --border-radius-big: 16px;

  --transition-params: 200ms ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* --- Globas styles end --- */

/* === Common styles start === */
/* Containers */
.wrapper {
  position: relative;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* Titles */
.section-title {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
}

/* Logo */
.logo {
  display: inline-flex;

  font-family: var(--logo-font);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.22;

  color: var(--white-color);
}

.logo__svg {
  margin-right: 6px;
  fill: currentColor;
}

/* Nav */
.nav__list {
  display: flex;
  column-gap: 42px;
}

.nav__link {
  display: block;
  padding-top: 35px;
  padding-bottom: 34px;

  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;
  color: var(--white-color);

  transition: color var(--transition-params);
}

.nav__link:hover {
  color: var(--primary-hover-color);
}

/* Button */
.button {
  display: block;
  padding: 10px 30px;

  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;

  color: var(--white-color);
  background-color: var(--primary-color);
  box-shadow: var(--button-shadow);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-params);
}

.button:hover,
.button:focus {
  background-color: var(--primary-hover-color);
  outline: none;
}

.button.button--big {
  min-width: 228px;
  padding: 14px 33px;
  font-size: 24px;
  line-height: 1.33;
  text-transform: capitalize;
  box-shadow: var(--button-big-shadow);
}

.button.button--icon {
  display: flex;
  align-items: center;
}

.button__svg {
  width: 35px;
  height: 25px;
  margin-right: 13px;
  fill: currentColor;

  transform: rotateX(0);
  transition: transform var(--transition-params);
}

.button:hover .button__svg,
.button:focus .button__svg {
  transform: rotateX(180grad);
}

/* Form-plan */
.form-plan {
  display: flex;
  flex-wrap: wrap;

  background-color: var(--form-bg-color);
  border-radius: var(--border-radius-big);
}

.form-plan__text {
  flex-grow: 1;
  align-self: stretch;
  padding: 18px 41px;

  font-style: italic;
  font-size: 24px;

  color: var(--primary-color);
  background-color: transparent;
  border: none;
  border-radius: inherit;
}

.form-plan__text::placeholder {
  content: "";
  color: var(--accent-color);
}

.form-plan__text:focus {
  outline: none;
}

.form-plan__button {
  margin: 18px;
}

/* Slider */
.slider {
  overflow: hidden;
}

.slider__list {
  display: flex;
  column-gap: 60px;
  margin-left: -540px;
  margin-bottom: 24px;
}

.slider__item {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: var(--border-radius-big);
}

.slider__caption {
  position: absolute;
  bottom: 40px;
  left: 15px;

  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.31;
  text-transform: uppercase;

  color: var(--white-color);
}

.slider__control {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.slider__button {
  display: block;
  width: 20px;
  height: 20px;

  background-color: var(--accent-color);
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider__button:focus {
  outline: none;
}

.slider__button--active {
  opacity: 1;
}
/* --- Common styles end --- */

/* === Header styles start === */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--header-bg-color);
  box-shadow: var(--header-shadow);
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  margin-right: 166px;
}

.header__nav {
  margin-right: auto;
}
/* --- Header styles end --- */

/* === Preview styles start === */
.preview {
  padding-top: 122px;
  padding-bottom: 254px;

  background-image: url("../img/bg-top.jpg");
  background-position: center top;
  background-size: cover;
}

.preview__container {
  max-width: 892px;
}

.preview__title {
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 80px;
  color: var(--white-color);
}

.preview__text {
  margin-bottom: 46px;

  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: var(--white-color);
}
/* --- Preview styles end --- */

/* === Steps styles start === */
.steps {
  padding-top: 80px;
  padding-bottom: 17px;
}

.steps__title {
  margin-bottom: 40px;
}

.steps__list {
  display: flex;
  column-gap: 40px;
  justify-content: space-between;
}

.steps__item {
  flex-basis: 30%;
  text-align: center;
}

.steps__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: var(--border-radius-big);
}

.steps__svg {
  fill: currentColor;
}
/* --- Steps styles end --- */

/* === Destinations styles start === */
.destinations {
  padding-top: 80px;
}

.destinations__title {
  margin-bottom: 46px;
}

.destinations__slider {
  margin-bottom: 40px;
}

.destinations__button {
  margin: 0 auto;
}
/* --- Destinations styles end --- */

/* === Stories styles start === */
.stories {
  padding-top: 80px;
}

.stories__title {
  margin-bottom: 40px;
}

.stories__wrapper {
  padding-top: 40px;
  padding-bottom: 102px;

  background-image: linear-gradient(
      to top,
      transparent 60px,
      var(--white-transparent-color) 60px
    ),
    url("../img/bg-bottom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.stories__list {
  margin-bottom: 40px;
}

.stories__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 40px;
  row-gap: 10px;
  margin-bottom: 30px;
}

.stories__img {
  max-width: 400px;
  flex-shrink: 1;
  border-radius: var(--border-radius-big);
  box-shadow: var(--stories-shadow);
  overflow: hidden;
}

.stories__desc {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

.stories__subtitle {
  font-size: 35px;
  margin-bottom: 24px;
}

.stories__link {
  font-weight: 700;
  text-decoration: underline;
  text-transform: capitalize;
  transition: color var(--transition-params);
}

.stories__link:hover,
.stories__link:focus {
  color: var(--accent-color);
}

.stories__button {
  margin: 0 auto;
}
/* --- Stories styles end --- */

/* === Footer styles start === */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
}

.footer__container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.footer__text {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;
  color: var(--white-color);
}

.social {
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);

  display: flex;
  column-gap: 24px;
}

.social__link {
  color: var(--white-color);
}

.social__svg {
  display: block;
  fill: currentColor;
  transform: scale(1);
  transition: transform var(--transition-params);
}

.social__link:hover .social__svg,
.social__link:focus .social__svg {
  transform: scale(1.1);
}
/* --- Footer styles end --- */
