/* === Globas styles start === */
:root {
    --primary-font: 'Aleo', serif;
    --secondary-font: 'Red Hat Text', sans-serif;
    --logo-font: 'Magra', sans-serif;

    --primary-color: #0d606f;
    --accent-color: #f2785c;
    --white-color: #ffffff;
    --primary-light-color: #f8f8f8;

    --header-bg-color: rgba(242, 120, 92, 0.7);
    --form-bg-color: rgba(255, 255, 255, 0.7);

    --header-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 2px 3px rgba(13, 96, 111, 0.16);
    --button-big-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
        0px 2px 3px rgba(13, 96, 111, 0.16);

    --border-radius: 10px;
    --border-radius-big: 16px;
}

body {
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* --- Globas styles end --- */

/* === Common styles start === */
/* Containers */
.wrapper {
    position: relative;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* Titles */
.section-title {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
}

/* Logo */
.logo {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;

    font-family: var(--logo-font);
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;

    color: var(--white-color);
}

.logo__svg {
    fill: currentColor;
}

/* Nav */
.nav {
    display: flex;
    column-gap: 42px;
}

.nav__link {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: var(--white-color);
}

/* Button */
.button {
    display: inline-block;
    padding: 10px 30px;

    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: var(--white-color);
    background-color: var(--primary-color);
    box-shadow: var(--button-shadow);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button.button--big {
    padding: 14px 32px;
    font-size: 24px;
    line-height: 1.3;
    box-shadow: var(--button-big-shadow);
}

/* Form-plan */
.form-plan {
    display: flex;
    flex-wrap: wrap;

    background-color: var(--form-bg-color);
    border-radius: var(--border-radius-big);
}

.form-plan__text {
    flex-grow: 1;
    align-self: stretch;
    padding: 18px 41px;

    font-style: italic;
    font-size: 24px;

    color: var(--accent-color);
    background-color: transparent;
    border: none;
    border-radius: inherit;
}

.form-plan__text::placeholder {
    content: '';
    color: inherit;
}

.form-plan__text:focus {
    outline: none;
}

.form-plan__button {
    margin: 18px;
}
/* --- Common styles end --- */

/* === Header styles start === */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: var(--header-bg-color);
    box-shadow: var(--header-shadow);
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    align-items: center;

    padding-top: 25px;
    padding-bottom: 25px;
}
/* --- Header styles end --- */

/* === Hero styles start === */
.hero {
    padding-top: 122px;
    padding-bottom: 254px;

    background-image: url('../img/hero-bg.jpg');
    background-position: center;
    background-size: cover;
}

.hero__container {
    max-width: 892px;
}

.hero__title {
    margin-bottom: 36px;

    font-weight: 700;
    font-size: 80px;
    color: var(--white-color);
}

.hero__text {
    margin-bottom: 46px;

    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    color: var(--white-color);
}
/* --- Hero styles end --- */

/* === Steps styles start === */
.steps {
    padding-top: 80px;
    padding-bottom: 100px;
}

.steps__title {
    margin-bottom: 40px;
}

.steps__list {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

.steps__item {
    flex-basis: 320px;
    text-align: center;
}

.steps__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    color: var(--white-color);
    background-color: var(--accent-color);
    border-radius: var(--border-radius-big);
}

.steps__svg {
    fill: currentColor;
}
/* --- Steps styles end --- */
